.form-control-section{
    background-color: #c0ccda;
    width: 600px;
    min-height: 400px;
    position: relative;
}

.header{
    display: flex;
}

.header > .check-part{
    flex: 1;
    display: inline-flex;
    align-items: center;
}

.header > .label-btn{
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
  list-style-type: none;
}

li{
    margin-bottom: 10px;
  
}

.label{
    display: inline-flex;
    align-items: center;
}

.li-elem{
   display: inline-flex;
    align-items: center;
}

.li-elem > button {
    border: none;
    background-color: transparent;
    color: 	#f23d5d;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;

}

input[type="checkbox"]{
  width: 30px; 
  height: 30px;
}

.li-label{
   display: flex;
   flex-direction: column;

}

.middle-part{
    display: flex;

}

 .label-part{
    display: flex;
    flex-direction: column;

}

.label{

}
 .input-part{
    display: flex;
    flex-direction: column;
    
}

.footer{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.footer > button{
    width: 90%;
    background-color: 	#37629c;
    color: #fff;
    text-align: center;
    min-height: 30px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
}