.main-navBar{
    background-color: #c0ccda;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.inner-part{
    width: 600px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    height: 70px;
}